<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm/sửa slide</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidIdM" value="0" />
                            <label for="txtNameM" class="col-sm-2 control-label ">Tên</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtNameM" class="form-control" id="txtNameM">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-2 control-label ">Mô tả</label>
                            <div class="col-sm-10">
                                <textarea rows="4" name="txtDescM" class="form-control" id="txtDescM"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtGroupAliasM" class="col-sm-2 control-label ">Nhóm</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtGroupAliasM" class="form-control" id="txtGroupAliasM">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtImageM" class="col-sm-2 control-label ">Hình ảnh</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="txtImageM" class="form-control" id="txtImageM" />
                                    <input type="file" id="fileInputImage" style="display:none" />
                                    <span class="input-group-btn">
                                        <input type="button" id="btnSelectImg" class="btn btn-default" value="Chọn ảnh" />
                                    </span>
                                </div><!-- /input-group -->

                            </div>
 
                        </div>
                        <div class="form-group">
                            <label for="txtDisplayOrderM" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-10">
                                <input type="number" name="txtDisplayOrderM" class="form-control" id="txtDisplayOrderM">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtUrlM" class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtUrlM" class="form-control" id="txtUrlM">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatusM">
                                        <span class="text">Kích hoạt.</span>
                                    </label>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveM" class="btn btn-success">Lưu lại</button>
                                <button type="button" id="btnCancelM" data-dismiss="modal" class="btn btn-danger">Hủy bỏ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>