@model TeduCore.Application.Content.Pages.Dtos.PageViewModel
@{
    ViewData["PageTitle"] = Model.Name;
    ViewData["SeoKeywords"] = Model.Name;
    ViewData["SeoDescription"] = Model.Name;
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a> <span>/</span> </li>
                    <li> <strong>@Model.Name</strong> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- main-container -->
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-sm-12">
                <div class="col-main">
                    <div class="page-title">
                        <h2>@Model.Name</h2>
                    </div>
                    <div class="static-contain">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--End main-container --> 