
@{
    ViewData["Title"] = "Danh mục sản phẩm";
}
@section Styles{
    <link href="~/lib/jqtree/jqtree.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jqtree/tree.jquery.js"></script>
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product-category/index.js" asp-append-version="true"></script>
    <script>
        var productObj = new productCategoryController();
        productObj.initialize();
    </script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh mục sản phẩm</h3>
        </div>

        <div class="title_right">
            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                <button class="btn btn-success" id="btn-create" type="button">Tạo mới</button>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <ul id="treeProductCategory"></ul>
                    <div id="mm" class="easyui-menu" style="width:120px;">
                        <div id="btn-edit" data-options="iconCls:'icon-edit'">Sửa</div>
                        <div id="btn-delete" data-options="iconCls:'icon-remove'">Xoá</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_AddEditModal.cshtml")